.logo {
    color: $logo-main ;
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo__head {
    color: $logo-header;
}
.logo__footer {
    color: $logo-footer;
}
.futter__logo--location {
    display: block;
    margin-bottom: 20px;
}